<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matr3co</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Ícones do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
<body>
<nav class="navbar navbar-expand-lg sticky-top py-lg-1 pe-3" style="background-color: #a4ce9b;">
  <div class="container-fluid">
    <div class="container-fluid d-flex align-items-center">
    <!-- Marca -->
    <a class="navbar-brand" href="{{ url_for('routes.dashboard') }}" >
      <img src="{{ url_for('static', filename='images/Matr3co.png') }}"
           alt="Logo" width="120px" height="120px"
           class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" href="{{ url_for('routes.dashboard') }}" >
           <span class="ms-2 align-middle" style="font-size: 30px;">
          Matr3co - Backoffice
        </span> 
    </a>
    {% if session.admin_id %}
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
           <li>
              <button
                type="button"
                class="btn btn-outline-success w-100 text-start"
                onclick="location.href='{{ url_for('routes.categories') }}'">
                Categorias
              </button>
          </li>
      </ul>
       <ul class="navbar-nav me-auto">
          <li>
              <button
                type="button"
                class="btn btn-outline-success w-100 text-start"
                onclick="location.href='{{ url_for('routes.subcategories') }}'">
                Subcategorias
              </button>
          </li>
       </ul>
        <ul class="navbar-nav me-auto">
            <li>
              <button
                type="button"
                class="btn btn-outline-success w-100 text-start"
                onclick="location.href='{{ url_for('routes.users') }}'">
                Utilizadores
              </button>
          </li>
      </ul>
      <ul class="navbar-nav">
         <li>
              <button
                type="button"
                class="btn btn-outline-success w-100 text-start"
                onclick="location.href='{{ url_for('auth.logout') }}'">
                Terminar Sessão
              </button>
          </li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>
<div class="container mt-4">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for cat, msg in messages %}
        <div class="alert alert-{{cat}}">{{ msg }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</div>
</body>
</html>
