{% extends "base.html" %}
 {% block content %}
    {% if search_query %}
      {% if products %}
        <h3>Resultados da pesquisa por "{{ search_query }}"</h3>
        <p>{{ products|length }} produto(s) encontrado(s).</p>
      {% else %}
        <div class="alert alert-warning">
          <h3>Não existem produtos para "{{ search_query }}"</h3>
          <a href="{{ url_for('main.index') }}" class="btn btn-outline-success mt-2">Voltar à Página Inicial</a>
        </div>
      {% endif %}
    {% endif %}
    
    



    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for p in products %}
             <div class="card  pb-3 pe-3" style="width: 18rem;">
              {% if p.thumb %}
                  <img src="{{ url_for('static', filename='images/uploads/' ~ p.thumb) }}" 
                    class="card-img-top"  alt="{{ p.title }}" style="height: 200px; object-fit: cover;">                  
                  <div class="card-body">
                    <h4 class="card-title">{{ p.title }}</h4>
                  </div>
              {% endif %}
              <div class="portfolio-info">
                    <!-- Preço grande e em negrito, alinhado à esquerda -->
                    <p class="mb-1">
                      <span class="fs-3 fw-bold">{{ "{:,.2f}".format(p.price) }} €</span>
                    </p>
                      <!-- “(Negociável)” em cinzento, alinhado à esquerda -->
                  {% if p.is_negotiable %}
                  <p class="text-secondary mb-3">
                    <small>(Negociável)</small>
                  </p>
                  {% endif %}
                  <!-- Botão pequeno, verde, alinhado à direita -->
                  <div class="mt-auto d-flex justify-content-end">
                  <a
                    href="{{ url_for('products.detail', product_id=p.id) }}"
                    class="btn btn-success btn-sm">
                    Ver Detalhes
                  </a>
                  </div>
              </div>
            </div>  
        {% endfor %}
      </div>
    </div>

{% endblock %}
