{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2>Checkout</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.card_number.label(class="form-label") }}
            {{ form.card_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.expiry_date.label(class="form-label") }}
            {{ form.expiry_date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.cvv.label(class="form-label") }}
            {{ form.cvv(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}
