<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meu Projeto Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Oi Flask!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Olá, {{ session.get('username', 'Usuário') }}</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('sobre') }}">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_user') }}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
            </li>              
          </ul>

          
          <form method="GET" action="/busca" class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="q" name="q" placeholder="o que queres?" aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>


        </div>
      </div>
    </nav>


    {% block content %}{% endblock %}

    <script src="stylesheet" href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>