{% extends "base.html" %}

{% block content %}
    <h1>Sobre Nós</h1>
    <p>
        Eh pá, já viste bem isto? Só visto, contado ninguém acredita! Ó menino, não faças fita! Não há pão para malucos!
        Isso é que era um pastel de nata com vista para o Tejo! Grande é a poesia, a bondade e as sardinhas assadas na noite de Santo António! Navegar é preciso, viver nem tanto… mas um pastel de nata ajuda!
        Quem tem pressa come cru e quente! Tá-se bem, mas era melhor se estivesse! Manda vir mais um fino, que um não chega! Atão mas isto agora é assim?! Calma, que não se faz um Tuga Ipsum num dia! Navegar é preciso, viver nem tanto… mas um pastel de nata ajuda!
        Atão mas isto agora é assim?! Não há pão para malucos! Ah, pois é! Mas olha, não te estiques muito!
        Para ser grande, sê inteiro… mas deixa espaço para o arroz de marisco! Já está? Nem parece trabalho de português! Tenho em mim todos os sonhos do mundo… e a vontade de um bom bacalhau à Brás! Navegar é preciso, viver nem tanto… mas um pastel de nata ajuda! Grande é a poesia, a bondade e as sardinhas assadas na noite de Santo António! Quem tem pressa come cru e quente!
        Navegar é preciso, viver nem tanto… mas um pastel de nata ajuda! Isso é que era um pastel de nata com vista para o Tejo! Isto está pior que as obras de Santa Engrácia!
    </p>
{% endblock %}